<%- include('../partials/header') %>
<!-- <h4>Lab Entries</h4> -->
<table class="centered table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Reactive Phosphorous</th>
      <th>pH</th>
      <th>Ammonia</th>
      <th>Temperature (°C)</th>
      <th>DO</th>
      <th>MLSS (mL/L)</th>
      <th>Waste Volume (m3)</th>
      <th>Employee</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% labsIndex.forEach(function(l) { %>
      <tr>
        <td class="ellipsis"><%= l.date %></td>
        <td><%= l.reactPh %></td>
        <td><%= l.pH %></td>
        <td><%= l.ammonia %></td>
        <td><%= l.temperature %></td>
        <td><%= l.dissOx %></td>
        <td><%= l.mlss %></td>
        <td><%= l.wasteVol %></td>
        <td><%= l.name %></td>
      <% if (user.id === l.employeeId) { %>
        <td><a href="/labs/<%= l.id %>">DETAILS</a></td>
      <% } %>
      </tr>
    <% }) %>  
  </tbody>
</table>
  
<div class="row" id="wasteVolCalculator">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">MLSS-Wasting Calculator</span>
        <form action="/labs/wasteVolCalc" method="POST">
          <div id="form">
            <div class="row">
              <div class="input-field col s6">
                <label class="active">Current MLSS (today)
                  <input type="number" step="0.01" name="currMLSS" value="<%= currMLSS %>">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6" id="targetMLSS">
                <label class="active">Target MLSS (for tomorrow)
                  <input type="number" step="0.01" name="targetMLSS" value="<%= targetMLSS %>">
                </label>
              </div>
            </div>
            <input type="hidden" name="labsIndex" value="<%= labsIndex %>">
            <div class="row">
              <div class="input-field col s6" id="submit">
                <button type="submit" class="btn waves-effect waves-light">Submit</button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6" id="">
                <div><b>Waste volume needed:</b>
                  <div><%= finalWasteVol %> m3</div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="card-action">
          <% if (finalWasteVol) { %>
            <div>In order to achieve <b><%= targetMLSS %> MLSS</b> tomorrow, you will need a waste volume of <b><%= finalWasteVol %> m3</b> today.</div>
          <% } %>
        <div id="description">This calculator uses a machine learning algorithm formulated with the previous waste volumes and resulting day-to-day MLSS changes.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>