<%- include('../partials/header') %>
<table class="centered table">
  <thead>
    <tr>
      <th>Date</th>
      <th>pH</th>
      <th>Ammonia (mg/L)</th>
      <th>MLSS (mL/L)</th>
      <th>Waste volume (m3)</th>
      <th>Inlet turbidity (NTU)</th>
      <th>Outlet turbidity (NTU)</th>
      <th>Coagulant dosage (mg/L)</th>
      <th>Employee</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="ellipsis"><%= myLab.date %></td>
      <td><%= myLab.pH %></td>
      <td><%= myLab.ammonia %></td>
      <td><%= myLab.mlss %></td>
      <td><%= myLab.wasteVol %></td>
      <td><%= myLab.inletTurbidity %></td>
      <td><%= myLab.outletTurbidity %></td>
      <td><%= myLab.coagDose %></td>
      <td><%= employee.name %></td>
      <td><a href="/labs/<%= myLab._id %>/edit">Edit</a></td>
      <td><form action="/labs/<%= myLab._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn-small waves-effect waves-light red">Delete</button>
      </form></td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>