<%- include('../partials/header') %>
<table class="centered table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Reactive<br>Phosphorous</th>
      <th>pH</th>
      <th>Ammonia</th>
      <th>Temperature<br>(°C)</th>
      <th>DO</th>
      <th>MLSS</th>
      <th>Waste<br>volume (m3)</th>
      <th>Employee</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="ellipsis"><%= myLab.date %></td>
      <td><%= myLab.reactPh %></td>
      <td><%= myLab.pH %></td>
      <td><%= myLab.ammonia %></td>
      <td><%= myLab.temperature %></td>
      <td><%= myLab.dissOx %></td>
      <td><%= myLab.mlss %></td>
      <td><%= myLab.wasteVol %></td>
      <td><%= employee.name %></td>
      <td><a href="/labs/<%= myLab._id %>/edit">Edit</a></td>
      <td><form action="/labs/<%= myLab._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn-small waves-effect waves-light red">Delete</button>
      </form></td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>